h1{font-size: 60px;
  color:#89CFF0
    
}

p1{text-align:center;
  color:#FF69B4

  
}
p2{font-size: 30px;

  
}

html, body {
  text-align:center;
  margin: 10;
  padding: 10;
}

myDiv{
  width: 100%;
  height: auto;
}
myDiv1{width: 100%;
  height: auto;
  
}
myDiv2{
  
}
myDiv3{
  
}

a {font-size: 30px;
  color: hotpink;
}
gif1{
  
}



